
body {
    background-color: #e5e7e9;
}

#profile {
    /* background-color: #8e44ad; */
    margin-right: 0%;
    padding: 16px;
    height: 300px;
    /* width: 1295px; */
    background-image: url("/img/cover.gif");
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 1295px 350px;
}

#work {
    background-color: #e5e7e9;
    margin-right: 0%;
    padding: 16px;
    height: 1000px;
}

div.line {
    height: 430px;
}



.card {
    border: none;
    background-color: #ffffff;
}

